<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    {{ title }}
  </h1>
  <section>
    <header>
      <h2>
        {{ sectionTitle }}
      </h2>
    </header>
    <p>
      This is a school project created with Angular and the use of Last.fm -api. 
      <br/>
      In this project you can type down an artist on a search bar and search for similar artists on Last.fm -website.
      <br/>
      You can visit similar artist's page on Last.fm.
    </p>
  </section>
  <app-searchbar></app-searchbar>
</div>

<router-outlet></router-outlet>
