@import '../node_modules/@angular/material/theming';

@include mat-core();

$custom-blue: (
    50 : #e9edf9,
    100 : #c8d1f0,
    200 : #a4b2e6,
    300 : #8093db,
    400 : #647cd4,
    500 : #4965cc,
    600 : #425dc7,
    700 : #3953c0,
    800 : #3149b9,
    900 : #2137ad,
    A100 : #e8ebff,
    A200 : #b5bfff,
    A400 : #8293ff,
    A700 : #687eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-cyan: (
    50 : #e5f4f3,
    100 : #bee4e1,
    200 : #93d3cd,
    300 : #67c1b8,
    400 : #47b3a9,
    500 : #26a69a,
    600 : #229e92,
    700 : #1c9588,
    800 : #178b7e,
    900 : #0d7b6c,
    A100 : #adfff3,
    A200 : #7affec,
    A400 : #47ffe4,
    A700 : #2dffe0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-theme-primary: mat-palette($custom-blue);
$custom-theme-accent: mat-palette($custom-cyan, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
    $custom-theme-primary, 
    $custom-theme-accent, 
    $custom-theme-warn
);

@include angular-material-theme($custom-theme);