/* You can add global styles to this file, and also import other style files */

@import './styles/responsive';
@import './styles/variables';


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 100;
    background: $primary;
    h1,
    h2,
    h3,
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    .container {
        margin: 10px auto;
        padding: 0 0 10px 0;
        max-width: 1200px;
        min-height: 100vh;
        background: white;
    }
}