<section >
  <mat-form-field>
    <input matInput type="text" placeholder="Artist search" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <button mat-button class="btn btn-primary" (click)="search(value)">Search</button>
  
  <div *ngIf="lastfmData">
    <h3>
      <a href='{{lastfmData.url}}'>{{ lastfmData.name }}</a>
    </h3>
    <ul>
      <ng-container *ngFor="let tag of lastfmData.tags.tag">
          <li *ngIf="!tag.name.includes('seen live')">
            <a href="{{ tag.url }}">
              {{ tag.name }}
            </a>
          </li>
      </ng-container>
    </ul>
  </div>

  <ul>
    <ng-container *ngFor="let similar of lastfmData.similar.artist">
        <li *ngIf="!similar.name.includes(lastfmData.name)">
            <a href="{{similar.url}}"> {{similar.name}} </a>
        </li>
    </ng-container>

  </ul>
</section>